
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
header .fa-heart{
    font-size: 1.5em;
    color: red;
    /* background: red; */
}
.description p{
    margin-bottom: 4px;
}
.card .img_box{
    width: inherit;
    height: 300px;
}
.card .img_box img{
    width: 100%;
    height: 100%;
}
.fa.fa-angle-right{
    font-size: 2em;
    cursor: pointer;
}
.fa.fa-angle-left{
    font-size: 2em;
    cursor: pointer;
}
@media(max-width:768px){
    .row button{
        font-size: 0.7em;
        padding: 12px 24px;
    }
    header .fa-heart{
        font-size: 1em;
    }
    header h3{
        font-size: 1em;
    }
    .card .img_box{
        width: inherit;
        height: 200px;
    }
    .description h6{
        font-size: 0.9em;
    }
    .description p{
        font-size: 0.8em;
    }
}
